@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
* {
	margin : 2px;
	padding : 2px;
 }
 html, body {
	height: 100%;
	margin: 0;
	background-image: linear-gradient(to bottom right, rgb(235, 76, 171), rgb(227, 77, 171), rgb(218, 78, 170), rgb(210, 80, 170), rgb(202, 81, 170), rgb(193, 82, 170), rgb(185, 83, 169), rgb(176, 84, 169), rgb(168, 85, 169), rgb(160, 87, 169), rgb(151, 88, 168), rgb(143, 89, 168));
}

/* Class selector */
.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: black;
    border: 2px solid brown ;
    padding-bottom: 5%;
}
.lead { font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 70%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid black;
	border-left: 10px solid black; 
}

.header-bar::after {
	content: 'SOCIALS';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	transition: 0.3s linear all;
}

.logo {
	position: fixed;
	top: 30px;
	left: 10px;
	transform: translateY(-50%);
	color: black;
	font-family: 'Parisienne', cursive;
	cursor: default;
	user-select: none;
}

.slider-menu {
  	font-weight: bolder;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;										/* Z-INDEX */
}

li:hover {
	border-radius: 100%;;
	color: pink;
	box-shadow: 0 50px 5px black inset;
}


/* Element selector */
li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: black;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}

.body-text{
	text-align: center;
	background-image: url("../CafeWebsite/OIP.jpg");
	width: 100%;
	color: white;
}

/* ID selector */
#body-header{
	font-size: 3em;
}

div div {
	border-color: blue;
	border-radius: 50%;
 }